@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide vertical and horizontal scrollbars */
/* html, body {
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
  }
*/

  html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }




@layer components{

    /* Card */

    .card-container{
      @apply hover:shadow-lg min-w-[80px] max-w-[180px] aspect-[1/1.5] p-1 rounded-md overflow-hidden relative
    }

    .title{
      @apply font-DM font-bold text-[14px] md:text-[14px] uppercase tracking-tight leading-4
    }

    .product-container{
      @apply pt-4 md:pt-4 px-3 flex flex-col tracking-tight md:gap-1
    }

    /* Rate styling */
    .rate-container{
      @apply flex items-end gap-3 md:gap-4
    }
    
    .rate{
      @apply flex items-end text-black/80 font-medium text-[12px] tracking-tighter
    }

    .rate-score{
      @apply font-bold
    }

    .star{
      @apply flex mt-2
    }

    /* Price styling */
    .price-container{
      @apply flex gap-2 items-center tracking-tighter
    }

    .price{
      @apply text-[18px] md:text-[20px] font-bold
    }
    
    .discount{
      @apply text-black/40 line-through decoration-black/35
    }

    .percentage{
      @apply bg-orange-200 text-orange-600 font-bold text-[12px] h-fit px-[0.35rem] rounded-sm absolute top-2 left-2
    }

    
    /* Product Page Style */
    .display-img{
      @apply size-[3rem] aspect-square bg-gray-200 
    }

    .small-box {
      @apply w-16 h-16 bg-gray-200 mr-2
    }
    
    .small-box:last-child {
      @apply mr-0;
    }
    
    /* Adjust spacing for mobile screens (sm) */
 
    


    /* Footer Style */
    .contact{
      @apply text-[0.875rem]
    }

    .footer-head{
      @apply 
    }


    .input{
      @apply rounded-full w-[90%] lg:w-full max-w-[30rem] h-[3rem] outline-none text-black pl-7;
  }

  .search{
      @apply absolute grid place-content-center h-full top-0 right-0 rounded-full text-white bg-orange-600 px-[3rem] py-[1rem];
  }

}

.box{
  @apply size-[10rem] bg-red-300 p-10;
}







